<div class="container">
    <div class="table-box">
        <div class="img-box">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQrOAggbZVYcHRIeaRH9_e95oyIOEccEAEUQ&usqp=CAU">
        </div>
        <div class="user-box">
            <ul class="user-list" *ngIf="user">
                <h2 class="user-title">{{ user.name }}</h2>
                <li class="user-item">{{ user.username }}</li>
                <li class="user-item">{{ user.email }}</li>
                <li class="user-item">{{ user.address.city }}</li>
                <li class="user-item">{{ user.phone }}</li>
                <li class="user-item">{{ user.website }}</li>
                <li class="user-item">{{ user.company.name }}</li>
            </ul>
        </div>
       
    </div>
</div>
