.container {
    max-width: 100vw;
    margin: auto;
    min-height: 78vh;
}
  .input-box {
    min-width: 100%;
    display: flex;
    margin: 10px;
    justify-content: center;
  }

  .table-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.table {
  margin-left: 50px;
  margin-right: 50px;
}
  th {
    background-color: rgba(3, 3, 3, 0.4);
    color: black;
    border-radius: 5px;
    padding: 10px;
  }
  
  td {
    border: 0.5px solid rgb(175, 145, 117);
    border-width: thin;
    padding: 15px;
  }
  
  tr:hover {
    background-color: rgb(240, 223, 204);
    cursor: pointer;
  }